params {
  params.outdir = "outdir"
}

process {
  cpus = 1
}

timeline.enabled = true
timeline.file = "${params.outdir}/timeline.html"

report.enabled = true
report.file = "${params.outdir}/report.html"

resume = true

// Define executor profiles
profiles {
  // default: local executor 
  standard {
    process {
        conda = "envs/run_notebook.yml"  //define a conda env for each step...
    }
    executor {
      cpus = 1
    }
  }
  dockerHPC {
    // Note that Dockerfile env. is not quite the same as conda.
    docker {
        enabled = true
        }
    process {
        container = 'ryancsu/metabolon2kegg:latest'
        }
    executor {
        cpus = 1
    }
  }
  singularityHPC {
    // Note that Dockerfile env. is not quite the same as conda.
    // in new versions, singularity will append docker: if needed.
    singularity {
        enabled = true
        autoMounts = true
        }
    process {
        container = 'docker://ryancsu/metabolon2kegg:latest'
        }
    executor {
        cpus = 1
    }
  }
}

